.control_dropdown-list-unit {
	text-align: left;

	.dropdown_option-filter_input,
	.dropdown_reset-option-filter {
		text-align: left;
	}

	.dropdown_option-filter_input {
		width: 200px;
	}

	.dropdown_reset-option-filter {
		width: 120px;
		margin-left: 10px;
		background-color: white;
	}

	.dropdown_list {
		position: relative;
		width: 100%;
	}

	.list-unit {
		position: absolute;
		top: 0;
		z-index: 10;

		&.closed {
			display: none;
			visibility: hidden;
		}

		&.open {
			display: block;
			visibility: visible;
		}

		ul {
			width: 200px;
			max-height: 300px;
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: white;
			border-color: darkgoldenrod;
			border-radius: 4px;
			border-width: 2px;
			border-style: ridge;

			a {
				display: block;
				padding: 5px;
				font-size: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				text-align: left;

				&:hover {
					cursor: pointer;
					background-color: grey;
				}
			}
		}
	}
}
